*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card{
  /* width: calc(33%-10px);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px; */

  background: blue;
 padding: 5px;
 width: 200px;
 height: 150px;
 margin-top: 10px;

 line-height: 150px;
 color: white;
 font-weight: bold;
 font-size: 3em;
 text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tiles {
  width: calc(33%-10px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
